body {
  background: linear-gradient(0deg,rgba(255, 255, 255, 1) 17%, rgba(0, 0, 0, 1) 37%, rgba(0, 0, 0, 1) 68%, rgba(162, 156, 156, 1) 92%);
  height: 6628px;
}

.header {
  color: aliceblue;
  /* text-align: center; */
}

.square {
  margin: 0 auto; 
  width: 90% ;
  min-width: 700px;
  height: 70px;
  background-color: #000000;
  justify-content: flex-end; /* Цвет фона */
  border-radius: 30px;
  position: relative;
}

.square .circle_1 {
  position: absolute;
  transform: translateY(5px) translateX(5px);
  width: 60px; /* Ширина */
  height: 60px; /* Высота */
  background-color: #fff; /* Цвет фона */
  border-radius: 50%; /* Скругление на 50% */
}

.square .circle_2 {
  position: absolute;
  transform: translate(-5px, 5px);
  right: 0;
  width: 60px; /* Ширина */
  height: 60px; /* Высота */
  background-color: #fff; /* Цвет фона */
  border-radius: 50%; /* Скругление на 50% */
}

.square .circle_3 {
  position: absolute;
  transform: translate(-75px, 5px);
  right: 0;
  width: 60px; /* Ширина */
  height: 60px; /* Высота */
  background-color: #fff; /* Цвет фона */
  border-radius: 50%; /* Скругление на 50% */
}

/* .square .circle_3 .presentation {
  position: absolute;
  background: url('/public/img/TG.png') no-repeat;
  width: 100%;
  height: 500px;
} */

.square .search {
  position: absolute;
  transform: translate(150px, 5px);
  width: 350px; /* Ширина */
  height: 60px; /* Высота */
  background-color: #fff; /* Цвет фона */
  border-radius: 15px;
}


.App h2 {
  text-align: center;
  color: #000000;
  font-size: 64px;
  padding-top: 10%;
  padding-bottom: 10%;
}


.choice .window {
  margin: 0 auto; 
  width: 100%; /* Ширина */
  aspect-ratio: 1920 / 600;  /* Высота */ 
  background-color: #fff;
  border-radius: 100px;
  background: #000000;
  position: relative;
  margin-bottom: 150px;
}

.choice .window .cell_1 {
  position: absolute;
  width: 20%; /* Ширина */
  height: 75%; /* Высота */
  background-color: #fff;
  border-radius: 100px;
  background: #fff;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
}

.choice .window .cell_2 {
  position: absolute;
  width: 20%; /* Ширина */
  height: 75%; /* Высота */
  background-color: #fff;
  border-radius: 100px;
  background: #fff;
  top: 50%;
  left: 95%;
  transform: translate(-95%, -50%);
}

.choice .window .cell_3 {
  position: absolute;
  width: 45%; /* Ширина */
  height: 85%; /* Высота */
  background-color: #fff;
  border-radius: 100px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.information h1 {
  position: absolute;
  left: 0;
  color: #fff;
  width: 50%;
  text-align: center;
}

.information .presentation {
  position: absolute;
  left: 95%;
  transform: translate(-95%, 0);
  background: url('/public/img/bass_guitar_econka.png') no-repeat;
  width: 100%;
  height: 500px;
}